<%= form_for(@charity) do |f| %>
  <% if @charity.errors.any? %>
    <section>
      <h1><%= pluralize(@charity.errors.count, 'error') %> prohibited this charity from being saved:</h1>
      <ul>
      <% @charity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </section>
  <% end %>

  <fieldset>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :website %><br>
      <%= f.text_field :website %>
    </div>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
