<section>
  <h1>List of Charities</h1>
  <% if @charities.length > 0 %>
    <ul>
    <% @charities.each do |charity| %>
      <li>
        <article>
          <h1><%= link_to charity.name, charity %></h1>
          <p><%= charity.description %></p>
          <a href="<%= charity.website %>"><%= charity.website %></a>
          <nav>
            <% if can? :edit, charity %>
              <%= link_to 'Edit', edit_charity_path(charity) %>
            <% end %>
            <% if can? :destroy, charity %>
              <%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </nav>
        </article>
      </li>
    <% end %>
    </ul>
  <% else %>
    We don't have any charities yet.
  <% end %>
</section>

<% if can? :create, Charity %>
  <nav>
    <%= link_to 'New Charity', new_charity_path %>
  </nav>
<% end %>
