<h1>Listing charities</h1>

<% if @charities.length > 0 %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Website</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @charities.each do |charity| %>
        <tr>
          <td><%= charity.name %></td>
          <td><%= charity.description %></td>
          <td><%= charity.website %></td>
          <td><%= link_to 'Show', charity %></td>
          <% if can? :edit, charity %>
            <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
          <% end %>
          <% if can? :destroy, charity %>
            <td><%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p>We don't have any charities yet.</p>

<% end %>

<% if can? :create, Charity %>
  <%= link_to 'New Charity', new_charity_path %>
<% end %>