<div class="charity-wrapper">
  <article class="charity">
    <h1><%= @charity.name %></h1>
    <%= markdown(@charity.description) %>
    <%= link_to @charity.website, @charity.website %>
  </article>

  <div class="actions">
    <% if @charity.wallets.last %>
      <% public_key = @charity.wallets.last.public_key %>
      <aside class="donate">
        <h1>Donate</h1>
        <a class="wallet" href="bitcoin:<%= public_key %>"><%= public_key %></a>
      </aside>
    <% end %>

    <nav>
      <ul>
      <% if can? :edit, @charity %>
        <li><%= link_to 'Edit', edit_charity_path(@charity), :class => 'edit' %></li>
      <% end %>
      <li><%= link_to 'Back', charities_path, :class => 'back' %></li>
      <% if can? :generate_wallet, @charity %>
        <li><%= button_to 'Generate Wallet', [:generate_wallet, @charity], :class => 'generate-wallet' %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</div>
