<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bits to Change" %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#68bed1">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <%= stylesheet_link_tag 'application' %>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= javascript_tag do %>
      window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
      window.analytics.load("<%= ENV['SEGMENTIO_WRITE_KEY'] %>");
      window.analytics.page();
    <% end %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <script src="//cdn.optimizely.com/js/853201245.js"></script>
  </head>

  <header>
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Bits To Change", root_path %></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>
            <li><%= link_to 'About', about_path, :class => 'about' %></li>
          </ul>
        </section>
      </nav>
    </div>
  </header>
  <body ng-app="BitsToChange">
    <section id="content">
      <div class="wrapper">
        <% if signed_in? %>
          <aside>
            <p class="welcome">Welcome <%= current_user.email %>!</p>
          </aside>
        <% end %>

        <% if flash[:error] %>
          <section>
            <p class="error"><%= flash[:error] %></p>
          </section>
        <% end %>
        <% if flash[:notice] %>
          <section>
            <p class="notice"><%= flash[:notice] %></p>
          </section>
        <% end %>

        <%= yield %>
      </div>
    </section>

    <footer>
      <p>technical@bitstochange.org</p>
      <p>All Rights Reserved &copy; 2014, BitsToChange, LLC</p>
    </footer>

  </body>
</html>